@font-face {
    font-family: Andale;
    src: url(/ANDALEMO.woff) format("woff");
    font-display: swap
}

:root {
    --pink: #FFAFC3;
    --pistachio: #F5F5C8;
    --green: #00C850;
    --red: #FF5000;
    --yellow: #FAF000;
    --grey: #F1F1F1;
  }

  .pink { background-color: var(--pink)}
  .pistachio { background-color: var(--pistachio)}
  .green { background-color: var(--green)}
  .red { background-color: var(--red)}
  .yellow { background-color: var(--yellow)}
  .grey { background-color: var(--grey)}

* {
    font-family: Andale, times;
    font-size: .9rem;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%
}

html,
body,
#app {
    height: 100%;
    background: white;
    cursor: crosshair;
}

a {
    color: initial;
    text-decoration: none;
}


/* 
not sure if this is used more than once
*/
button {
    border: none;
    background: initial;
    text-align: left;
    color: unset;
    line-height: inherit;
}
/* 
a:hover {
    cursor: pointer;
    color: var(--green);
} */

/* .next,
.prev {
    z-index: 60;
    width: 70px;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: none
} */

/* .next img,
.prev img {
    width: 100%
} */
/* 
.mobile {
    display: none
}

.desktop {
    display: block
}

@media only screen and (max-width: 800px) {
    .group-container {
        display: none
    }

    .next,
    .prev,
    .mobile {
        display: block
    }

    .desktop {
        display: none
    }
} */

@media only screen and (max-width: 800px) {
    * {
        font-size: 12px
    }
}